In [1]:
#Challenge 3 Create Travel Itinerary with Corresponding Map

In [2]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [3]:
gmaps.__version__

'0.9.0'

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [6]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,dobson,US,82.00,36.40,-80.72,Beagles Bed & Breakfast
1,1,kapaa,US,82.40,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,6,bandarbeyla,SO,80.85,9.49,50.81,REER XOOSHLE GROUP
3,9,cabedelo,BR,82.40,-6.98,-34.83,Lua Mansa Pousada
4,10,nikolskoye,RU,73.40,59.70,30.79,Tourist House - Sablino

In [7]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [8]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
vacation_start = vacation_df.loc[vacation_df["City"] == "airdrie"]
vacation_end = vacation_df.loc[vacation_df["City"] == "margate"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "atherton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "wakefield"]

In [22]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(55.87, -3.98)
(51.38, 1.39)
(53.52, -2.49)
(53.68, -1.5)

In [30]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [32]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [37]:
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
184,425,airdrie,GB,75.0,55.87,-3.98,Dakota Hotel Eurocentral
49,117,margate,GB,73.0,51.38,1.39,Premier Inn Margate hotel
83,194,atherton,GB,82.0,53.52,-2.49,The Mercury Motel
51,120,wakefield,GB,75.0,53.68,-1.50,Hôtel Restaurant Campanile Wakefield

In [38]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,425,airdrie,GB,75.0,55.87,-3.98,Dakota Hotel Eurocentral
1,117,margate,GB,73.0,51.38,1.39,Premier Inn Margate hotel
2,194,atherton,GB,82.0,53.52,-2.49,The Mercury Motel
3,120,wakefield,GB,75.0,53.68,-1.50,Hôtel Restaurant Campanile Wakefield

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [40]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))